{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>We sale fresh fruits</p> #}
						<h1>Réinitialisation du mot de passe</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

    
    <div class="container">
    
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                {# <h2 class="mt-5">Réinitialisation du mot de passe</h2> #}
                    <div class="col-md-8">
                        {{ form_start(requestPassForm) }}
                            <br>
                            {{ form_row(requestPassForm.email) }}
                        {{ form_end(requestPassForm) }}
                        <br><br><br>
                    </div>
            </div>
        </div>
    </div>
    {% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}

{% endblock %}
