{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}


<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>We sale fresh fruits</p> #}
						<h1>Réinitialiser le mot de passe</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<section class="container my-3">
    <div class="row">
        <div class="col">
            {# <h2>Réinitialisation de mot de passe</h2> #}
            <div class="col-md-5">
                {{ form_start(passForm) }}
                    {{ form_row(passForm.password) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(passForm) }}
            </div>
           
        </div>
    </div>
</section>

{% endblock %}
