{% extends "base.html.twig" %}

{% block body %}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>Get 24/7 Support</p> #}
						<h1>Contactez-nous</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>
							<i class="fas fa-map-marker-alt"></i>
							Trouver notre emplacement</h2>
					</div>
					<div id="form_status"></div>
					<div class="embed-responsive embed-responsive-21by9">
						<iframe src="https://maps.google.com/maps?q=36.7607775833836,10.239628783437766&z=15&output=embed" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4>
								<i class="fas fa-map"></i>
								Notre adresse</h4>
							<p>Lotissement Nour - N ° 26 Route GP1, Direction Borj el Khadhra Mégrine / 2033 Ben Arous - Tunisie</p>
						</div>
						<div class="contact-form-box">
							<h4>
								<i class="far fa-clock"></i>
								Heures de travail</h4>
							<p>LUNDI - VENDREDI: 8 to 5 PM
								<br>
								SAMEDI : 8 to 13 PM
							</p>
						</div>
						<div class="contact-form-box">
							<h4>
								<i class="fas fa-address-book"></i>
								Contact</h4>
							<p>Téléphone: +216 25 980 013
								<br>
								Email: truvision_tn@truvisionco.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->




{% endblock %}