{% extends "base.html.twig" %}


{% block body %}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>Fresh and Organic</p> #}
						<h1>Normalisation</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

    <div class="container col-md-8 mt-5 mb-5">
        <div class="">
            <div class="col-12 col-md-8">
                <div class="d-flex align-items-center"></div>
                <div class="fables-vision-detail fables-forth-text-color wow fadeInRight text-justify text-capitalize mt-4" data-wow-duration="1.5s">
                    Normalisation de chèques
                    La réforme des systèmes de paiement et de règlement dans la sous-région de l’Afrique subsaharienne (Cemac, WAMI, UEMOA) sur la normalisation des formules de chèque pour l’indemnisation dématérialisée.
                    
                    Secure Print a su maîtriser les normes de ces sous-régions en respectant la charte de leurs cahiers des charges respectives.
                    
                    NORME UEMOA (Union économique et monétaire ouest-africaine)


                </div>
            </div>

            <div class="image-container">
                <img src="http://secureprinte.com/wp-content/uploads/2020/12/Logo_UEMOA2.png" alt="Fables Template" class="img-fluid">
            </div>


            Les formules de chèques sont soumises à une normalisation définie par Instruction de la Banque Centrale ou, le cas échéant, par arrêté ministériel. Les formules de chèques mentionnent l’adresse et le numéro de téléphone de l’agence bancaire auprès de laquelle le chèque est payable. Elles mentionnent également le nom et l’adresse du titulaire du compte.
            
            Avant toute délivrance de formules de chèques, le banquier doit s’informer de la situation du demandeur en consultant le fichier des incidents de paiement. Il peut être délivré des formules de chèques pré-barrés non endossables, sauf au profit d’un banquier. Les autres formules de chèques sont soumises à un droit de timbre dont le montant sera fixé par arrêté ministériel. Ce droit perçu pour le compte du Trésor Public est supporté par la personne qui demande la délivrance de telles formules.
            
            Le chèque contient :
            
            – la dénomination de chèque, insérée dans le texte même du titre et exprimée dans la langue employée pour la rédaction de ce titre
            
            – le mandat pur et simple de payer une somme déterminée
            
            – le nom de celui qui doit payer (tiré)
            
            – l’indication du lieu où le paiement doit s’effectuer
            
            – l’indication de la date et du lieu où le chèque est créé
            
            – la signature manuscrite de celui qui émet le chèque (tireur).
            
            NORME CEMAC (Communauté économique et monétaire de l’Afrique centrale)


            <div class="image-container">
                <img src="http://secureprinte.com/wp-content/uploads/2020/12/Embleme_Cemac.jpeg" alt="Fables Template" class="img-fluid">
            </div>

            Lorsqu’un chèque est stipulé payable en une monnaie n’ayant pas cours dans les pays de la CEMAC, le montant peut en être payé, dans le délai de présentation du chèque, d’après sa valeur en Francs CFA au jour du paiement. Si le paiement n’a pas été effectué à la présentation, le porteur peut, à son choix, demander que le montant du chèque soit payé en Francs CFA d’après le cours, soit du jour de la présentation, soit du jour de paiement.
            
            Les usages en vigueur, pour la cotation des différentes devises dans lesquelles sont libellés les chèques, doivent être suivis pour déterminer la valeur de ces monnaies en Francs CFA.
            
            Toutefois, le tireur peut stipuler que la somme à payer sera calculée d’après un cours déterminé dans le chèque.
            
            Si le montant du chèque est indiqué dans une monnaie ayant la même dénomination, mais une valeur différente, dans le pays d’émission et dans celui de paiement, on est présumé s’être référé à la monnaie du lieu du paiement.
            
            Le chèque contient :
            
            – la dénomination de chèque, insérée dans le texte même du titre et exprimée dans la langue employée pour la rédaction de ce titre  
            
            – le mandat pur et simple de payer une somme déterminée
            
            – le nom de celui qui doit payer, dénommé tiré
            
            – l’indication du lieu où le paiement doit s’effectuer
            
            – l’indication de la date et du lieu de création du chèque
            
            – la signature de celui qui émet le chèque, dénommé tireur.
            
            NORME  WAMI (Institut Monétaire de l’Afrique de l’Ouest)


            <div class="image-container">
                <img src="http://secureprinte.com/wp-content/uploads/2020/12/wamz2.png" alt="Fables Template" class="img-fluid">
            </div>


            Tous les chèques doivent être conformes à la conception standard du chèque de manière à être lisibles par la machine. La reconnaissance des caractères magnétiques (MICR) et la reconnaissance optique des caractères (ROC) sont les deux technologies les plus utilisées pour la lecture des chèques. En règle générale, le chèque est scanné et l’image et les données qu’il comporte sont transmises par voie électronique de la banque commerciale à la chambre de compensation. Au niveau de la chambre de compensation, le système procède au tri électronique et à la distribution de tous les fichiers vidéo et de données du chèque aux banques payeuses aux fins de validation pour la détermination du sort de chaque instrument.
            
            Le chèque contient :
            
            – la dénomination de chèque, insérée dans le texte même du titre et exprimée dans la langue employée pour la rédaction de ce titre
            
            – le mandat pur et simple de payer une somme déterminée
            
            – le nom de celui qui doit payer (tiré)
            
            – l’indication du lieu où le paiement doit s’effectuer
            
            – l’indication de la date et du lieu où le chèque est créé
            
            – la signature manuscrite de celui qui émet le chèque (tireur).
            
            NORME TUNISIENNE


            <div class="image-container">
                <img src="http://secureprinte.com/wp-content/uploads/2021/01/dr-tun.png" alt="Fables Template" class="img-fluid">
            </div>


            Nous procédons conformément à l’arrêté du ministre de l’économie nationale du 20 janvier 1995, portant homologation de la norme tunisienne relative aux spécifications du chèque bancaire et postal.
            
            Notre processus répond à la norme tunisienne en termes de fabrication de chèque et épouse les recommandations et les règles de sécurité adoptée par la norme française.
            
            NORME MAURITANIENNE


            <div class="image-container">
                <img src="http://secureprinte.com/wp-content/uploads/2021/08/mauritanie.png" alt="Fables Template" class="img-fluid">
            </div>


            L’échange des chèques et autres valeurs dans les chambres de compensation
            de Nouakchott et Nouadhibou nécessite une intervention manuelle. L’adoption des
            instructions N° 15/2008 portant Normalisation du Chèque et N° 17/2008 portant Normalisation
            de la Lettre de Change constitue une première étape vers l’automatisation du traitement de
            ces valeurs. De plus, l’article 924 de la loi n° 2000-05 portant Code de Commerce précise,
            concernant le chèque, que « la présentation à une chambre de compensation équivaut à une
            présentation au paiement » créant une première articulation entre les opérations des
            chambres de compensation et les règles du Code de Commerce relatives au paiement des
            chèques. Le rapport annuel de la BCM pour 2015 indique que la part du chèque dans le
            nombre total de valeurs traitées en chambre de compensation s’est située à 82,4% en 2015,
            représentant plus de 78% du montant total des valeurs traitées. Le système de paiement
            automatisé (ATS) qui serait mis en place en Mauritanie, sera doté d’une fonction chambre de
            compensation permettant et organisant la dématérialisation du traitement des chèques. La
            création d’un tel mécanisme basé sur l’échange d’images-chèques supposera d’adapter et de
            compléter le cadre juridique actuel.


        </div>
    </div>



	<!-- /End page content -->


{% endblock %}
