{% extends "base.html.twig" %}


{% block body %}

	<div class="container col-md-10 mt-5 mb-5">
		<div class="row overflow-hidden">
			<div class="col-12 col-md-4">
				<div class="image-container">
					<img src="{{ asset('ass/assets/custom/images/proc-1.png')}}" alt="Fables Template" class="img-fluid">
				</div>
			</div>
			<div class="col-12 col-md-8">
				<div class="d-flex align-items-center"></div>
				<div class="fables-vision-detail fables-forth-text-color wow fadeInRight text-justify text-capitalize mt-4" data-wow-duration="1.5s">
					<h5 class="text-primary">Solution département IT</h5>
					<p class="mb-3">L’impression des chèques bancaires est une de nos principales activités. Nous imprimons les chèques pour la zone WAMI selon la norme WAMZ, pour les pays de la CEMAC selon la norme CORENOFI et pour l’Afrique francophone. Actuellement, nous détenons plus de 70 % du marché de l’Afrique centrale.</p>
					<p class="mb-3">Considérant la confiance comme un atout précieux renforcé à la longue, nous offrons à nos clients notre expertise dans le développement des solutions logicielles modulaires et évolutives adaptées à vos besoins selon l’activité que vous souhaitez accomplir (impression des Chèques, solutions MICR, solutions CODBARS, solutions QR-CODE, solutions de Lecture/Scannage de Chèques & Codbars, solutions d’accès de zone, etc..).</p>
					<h4>Notre offre comprend :</h4>
					<h5>Carnets de chèques</h5>
					
					
					Chéquiers portefeuille avec talon correspondance
					Chéquiers ordinaires avec talon à gauche et correspondance en haut
					Chèques en paravent
					Chèques de banque filigrané

					<h5>Lettres de chèques</h5>

					La prise en charge de votre fichier de règlement
					La personnalisation

                    <p>Réparation et entretien du matériel (Imprimantes Laser MICR, Lecteurs/Scanners de Chèques, etc.). Personnalisation des Chèques et solutions MICR / CODBAR basées sur notre gamme de logiciels YASMINE</p>
					<p>Développement d’applications spécifiques permettant d’adapter les solutions à tous les secteurs d’activité et métiers de l’entreprise du client.</p>
					<p>Utilisant une méthodologie rigoureuse de qualité et s’inspirant du standard CMMI, nous. adoptons les phases suivantes dans la gestion des projets logiciels:</p>
					
					<ol class="">
                    <li class="list-group-1">Spécification des besoins et analyse fonctionnelle</li>
                    <li class="list-group-2">Définition de l’architecture basée sur les nouvelles technologies</li>
                    <li class="list-group-3">Planification du Projet et Gestion des Risques</li>
                    <li class="list-group-4">Conception modulaire et évolutive</li>
                    <li class="list-group-5">Développement conformément aux normes internes</li>
                    <li class="list-group-6">Test et validation</li>
                    <li class="list-group-7">Maintenance et Support Technique</li>
                    </ol>


                    <p>Basée sur une solide équipe R&D (Recherche et développement)  qui assure la maîtrise du meilleur des nouvelles technologies ainsi que les grands produits connus, nous. fournissons à nos clients : innovation, robustesse et efficacité au meilleur rapport qualité / prix.</p>
					
					<h5>Notre Processus:</h5>
                    <p>Local sécurisé avec cameras de surveillance et contrôle d’accès</p>
					
					<ul>
                        <li>Gestion des données via un logiciel</li>
                        <li>Impression des fonds de chèques</li>
                        <li>Chèques personnalisés</li>
                        <li>Chèques de banque filigranés</li>
                        <li>Insertion, Assemblage, Collage de la couverture spécifique…</li>
                        <li>Finition</li>
                        <li>Conditionnement spécifique</li>
                    </ul>

					
				</div>
			</div>
		</div>
	</div>


	<!-- /End page content -->


{% endblock %}
