{% extends "base.html.twig" %}

{% block body %}


<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>Fresh and Organic</p> #}
						<h1>Nos solutions</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<!-- check out section -->
	<div class="checkout-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Impression et création de chèques et lettres chèques à la demande (+)
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											Les chèques et les lettres chèques sont imprimés sur une imprimante LaserJet. L’impression comprend:
											-un numéro de chèque
											-la ligne CMC7
											-nom, prénom, adresse, téléphone du client
											-nom, prénom, adresse, téléphone de l’agence
											-un relevé d’identité bancaire
											L’usage du papier spécifique combiné au toner MICR permet de respecter les normes bancaires .
											En complément, l’offre Yasmine 4.25 comprend des solutions qui permettent de renforcer la sécurité des chèques et lettres chèques imprimées afin de limiter leurs falsifications comme le toner magnétique sécurisé qui limite les risques de falsification chimique et/ou les micro caractères de sécurité qui sont sécurisées.
										</div>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Papier lettres chèques standard personnalisé (+)
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
										<div class="shipping-address-form">
											<p>Le papier sécurisé proposé par Secure Print est conforme à la norme NFK 11-111. Même si certaines normes doivent être respectées, les possibilités de personnalisation sont très variées. Vos chèques et lettres chèques peuvent être conçues pour intégrer les couleurs et les logos de votre entreprise.
												
												Le type de papier proposé est un papier filigrané 95 gr: Papier avec réactif chimique et filigrane pour lutter contre les photocopies ou scan.
												
												Selon les besoins, des sécurités peuvent-être ajoutées :
												Des sécurités graphiques: fond numismatique, fond guilloché, fond anti-copie, micro-lignes
												Des encres sécurisées: encre couleur, encre fluorescente, encre iridescente, encre thermo-chrome
												Autres sécurités comme l’hologramme ou un réactif aux UV.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Toner magnétique MICR (+)
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<div class="card-details">
											<p>Le toner MICR (reconnaissance des caractères à l’encre magnétique) permet d’imprimer sur des chèques et lettres chèque les chiffres (numéros de compte, d’identification) et caractères lus par des systèmes de traitement de données électroniques.
												Il est conçu pour chaque imprimante conformément aux standards bancaires.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="card single-accordion">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Toner magnétique sécurisé (+)
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<div class="card-details">
											<p>L’encre Toner Magnétique Secure est une encre chimique brevetée qui en plus de répondre aux standards bancaires, prévient l’altération chimique du document imprimé. L’encre devient rouge au contact des produits chimiques (acétone, eau de javel, alcool) utilisés pour effacer les caractères imprimés sur le document.
												Cette technologie limite efficacement les risques de falsification chimique. C’est une preuve d’authenticité du document. Un document qui ne présente aucune tâche rouge au contact d’un produit chimique est une copie. L’encre sécurisée imprègne les fibres du papier pour fixer chaque caractère du texte original en profondeur dans le document et limite ainsi efficacement les risques de falsification par grattage.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="card single-accordion">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Impression de la police CMC7 (+)
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<div class="card-details">
											<p>“Yasmine 4.25” permet l’impression de la ligne CMC7 et E13B sur toutes les imprimantes compatibles PCL et compatibles avec le toner MICR. La calcule de la clé RLMC (clé de recomposition de la ligne magnétique du chèque) ainsi que d’autres caractères de sécurité peuvent-être gérés par Yasmine 4.25. 
												
												Le Kit MICR se compose de deux niveaux de sécurité:
												Niveau 1: Le niveau 1 donne la capacité à l’imprimante d’imprimer les caractère CMC7/E13B. La police CMC7 est nécessaire à l’impression d’un chèque/lettre chèque conforme aux standards bancaires.
												Niveau 2: Niveau 1 + Signature intégrée dans la clé + conversion automatique de chiffres en lettres + Impression sécurisée + Polices de sécurité</p>
										</div>
									</div>
								</div>
							</div>

							<div class="card single-accordion">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Code crypté sécurisé -QR Code- (+)
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<div class="card-details">
											<p>Ajouter le code sécurisé de Qryptal (QR Code) sur les chèques rend les chèques inviolables car le code ne peut être généré que par la banque ou ses clients autorisés. Tous les détails clés de chaque chèque sont signés et scellés de manière sécurisée dans le code sécurisé de Qryptal.
												Le système de Qryptal est flexible en termes de données qui peuvent être encapsulées dans le code sécurisé. Cela comprend les éléments suivants
												– Vérifiez le numéro et les détails du compte
												– Bénéficiaire
												– Montant
												– Nom des signataires
												– Détails supplémentaires qui pourraient être utiles pour le traitement automatisé, par exemple le nom de l’entreprise, etc.
												
												Intégration des chèques avec QR Code :
												L’ajout du code sécurisé de Qryptal par la nouvelle version de « Yasmine 5.0 » au chèque est facile. Il est ajouté automatiquement dans le cadre du processus d’impression.
												Le générateur Qryptal fait tout le travail pour encapsuler les données et renvoyer l’image Secure Code à incorporer sur les chèques.
												Validation des chèques avec QR Code :
												Les chèques qui sont sécurisés avec Qryptal peuvent facilement être validés avec le serveur de validation de Qryptal dans le cadre du processus de compensation automatique des entrées.
												Le serveur de validation de Qryptal effectue les opérations suivantes:
												– Localise le code sécurisé sur les images de chèque qui sont présentées
												– Valide le code sécurisé et confirme qu’il n’a pas été falsifié
												– Extrait les informations du Code et les renvoie de manière structurée pour un traitement ultérieur
												– Il peut également valider les informations extraites avec les informations imprimées sur le chèque via OCR pour vérifier la falsification des informations..</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end check out section -->











{% endblock %}