{% extends "baseAdmin.html.twig" %}



{% block body %}


  <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit a tresorie</h4>
                  {# <p class="card-description">
                    Basic form elements
                  </p> #}
                  
                    {{form(editForm)}}
                  

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div






{% endblock %}