{% extends 'baseAdmin.html.twig' %}

{% block body %}


<div class="main-panel">
	

	<div class="content-wrapper">
		<div><h6>link>link</h6></div>
		
		<div class="row">
			<div class="col-lg-12 grid-margin stretch-card">
				<div class="card">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}

					
					<div class="card-body">
						<h4 class="card-title"></h4>
						<div class="table-responsive">

							<style>
								.block {
									flex: 0 0 33%;
									text-align: center;
									border: 1px solid #ccc;
									padding: 10px;
									margin: 1px; /* Add margin space */
								}

								.block img {
									max-width: 100%;
									height: auto;
								}

								.flex-container {
									display: flex;
									flex-wrap: wrap;
								}
							</style>

							<div class="flex-container">
								{% for item in etats %}
									<a href="{{ path('app_banks_by_country', {'id': item.id}) }}" class="block">
										<div class="d-flex align-items-center">
											<img src="{{ asset(vich_uploader_asset(item, 'imageFile')) }}" width="90px" alt="photo" class="mr-2">
											<div class="text-body text-capitalize text-bold">{{ item.nom }}</div>
										</div>
									</a>

									{% if loop.index is divisible by(3) %}
										<div style="clear:both;"></div>
									{% endif %}
								{% endfor %}
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>



<!-- Button trigger modal -->

{# <script>
  $(document).ready(function () {
    // Check if the browser supports local storage
    if (typeof Storage !== "undefined") {
      // Retrieve the previously visited links from local storage if available
      var visitedLinks = JSON.parse(localStorage.getItem("visitedLinks")) || [];

      // Update the "visited-links" div with the previously visited links
      function updateVisitedLinks() {
        var visitedLinksHtml = visitedLinks
          .map(function (link) {
            return '<div class="visited-link">' + link + "</div>";
          })
          .join("");
        $("#visited-links").html(visitedLinksHtml);
      }

      // Add a click event handler to the links with the class "block"
      $(".block a").on("click", function () {
        // Get the href of the clicked link
        var href = $(this).attr("href");

        // Add the link to the visitedLinks array if it's not already present
        if (visitedLinks.indexOf(href) === -1) {
          visitedLinks.push(href);
          // Save the updated array to local storage
          localStorage.setItem("visitedLinks", JSON.stringify(visitedLinks));

          // Update the "visited-links" div to display the updated list
          updateVisitedLinks();
        }
      });

      // Initial update of the "visited-links" div when the page loads
      updateVisitedLinks();
    } else {
      // Local storage is not supported by the browser
      $("#visited-links").text("Local storage is not supported.");
    }
  });
</script> #}


{% endblock %}