{% extends "base.html.twig" %}


{% block body %}


<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>Get 24/7 Support</p> #}
						<h1>Anticopie-Antiscan</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<div class="container mb-3 mt-2">
	
La sécurité documentaire est devenue un enjeu primordial au sein des entreprises et des administrations. Grâce à un procédé de fabrication ingénieux, le papier sécurisé anticopie rend impossible les falsifications physiques et chimiques, ainsi que la contrefaçon des documents confidentiels.

Le papier de sécurité “anticopie” authentifie tout texte imprimé sur ce support comme étant l’original et toute photocopie ou reproduction (scan, photo numérique) est immédiatement visible à l’œil nu. Ainsi, l’intégrité des données est préservée grâce à ce papier UV sécurisé. De plus la conservation des documents est accrue grâce à ce moyen.

Le papier sécurisé empêche le duplicata d’un document couleur ou de la marque R&B, c’est une solution fiable contre l’usage frauduleux, il interdire la reproduction d’une copie falsifiée d’un document confidentiel. <br>

<img src="{{ asset('assets/img/anticopie2.jpg')}}" alt="Fables Template" class="img-fluid"> <br>







Sécurité:
Le papier anti-copie regroupe deux technologies : Mot fantôme et NoCopy

Ce ne peut être une arme absolue (on peut toujours faire une photo du document ou le recopier) mais elle créé un obstacle supplémentaire.

Le contrevenant ne peut pas dire qu’il n’était pas au courant. S’il effectue une copie il démontre juridiquement son intention de nuire.

C’est la technologie actuellement la plus aboutie pour interdire la copie ou la dissuader. Comme une alarme fait fuir plus de 75% des cambrioleurs, le papier ANTICOPIE protège vos informations écrites contre le risque de copie ou falsification.




Avantage:
Si on rapporte le coût de la page au coût engendré si l’information est divulguée, c’est le système de protection le moins cher au monde.

Facilement identifiable par son aspect particulier.

Fonctionne dans des imprimantes à haut débit.

Le papier ANTICOPIE empêche la copie couleur sur la majorité des scanners ou copieurs. La copie sera toute noire.

La mention d’ANTICOPIE  apparaît en arrière-plan en cas de copie en noir et blanc.

Le mot fantôme apparaissant à la copie au recto <br>
<!-- /End page content -->


<img src="{{ asset('assets/img/anticopie.png')}}" alt="Fables Template" class="img-fluid"> <br>

Le secret du papier de sécurité tient dans la combinaison de 4 niveaux de sécurité :

Des guilloches visibles mais impossibles à photocopier, en encres gommables
Des inscriptions en micro-caractères sur les contours de la feuille du papier de sécurité
Des inscriptions en encre invisible sur papier UV visibles uniquement sous éclairage ultra-violet et impossibles à reproduire par des moyens classiques.
Un papier sans azurant optique, qui permet au papier d’être inerte aux UV <br>






Application:

Chèque, lettre chèque

Propositions commerciales

Lettres et Rapports confidentiels

Brevets

Notes de services

Tarifs       

Œuvres originales (partitions, plans manuscrits, dessins)

Attestations

Diplômes

Compte-rendu, Invitations à des événements

Travaux de R&D

Rapports de police

Impressions de certains e-mails

Reçus de paiement, … <br>




				<img src="{{ asset('assets/img/anticopie3.png')}}" alt="Fables Template" class="img-fluid">

</div>










{% endblock %}