{% extends "base.html.twig" %}




{% block body %}

<!-- Start page content --> 

<div class=" mt-4">
	<div class="col-12 col-md-16">
		<div class="image-container">
			<img src="{{ asset('ass/assets/custom/images/cheques/chequ.png')}}" alt="Fables Template" class="img-fluid">
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="image-container">
			<img src="{{ asset('ass/assets/custom/images/cheques/tt1.png')}}" alt="Fables Template" class="img-fluid">
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="image-container">
			<img src="{{ asset('ass/assets/custom/images/cheques/tt2.png')}}" alt="Fables Template" class="img-fluid">
		</div>
	</div>

</div>

<div class="container mt-3 mb-3">
<div class="card">
<p> mots clés : </p> 

Hologramme 2D – Hologramme 3D – Encre anticopie – Encre photochromique – Encre iridescente – Encre thermochromique – Micro texte – Guilloche – Les fibres – Les filigranes
</div>

</div>

   
   
<!-- /End page content -->



{% endblock %}