{% extends "base.html.twig" %}


{% block body %}


<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>Get 24/7 Support</p> #}
						<h1>Document sécurisé</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<div class="container">
	<div class="row overflow-hidden">
		<div class="col-12 col-md-6">
			<div class="image-container translate-effect-right">
				<img src="{{ asset('assets/img/papier-securise.png')}}" alt="Fables Template" class="img-fluid">
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="d-flex align-items-center">
			</div>
			<div class="mt-5 fables-vision-detail fables-forth-text-color wow fadeInRight text-justify text-capitalize mt-4" data-wow-duration="1.5s">
				<p>Notre papier A3, A4 ou A5, présente des éléments qui protègent contre toute tentative de falsification, la matière dont est fabriqué ce papier est anti-copie, c’est-à-dire si on essaie de reproduire par des photocopieuses ou scanner quel que soit sa performance.</p>
				<p>Lors du passage du papier sous la photocopieuse, la mention «copie illégale» apparaissant sur toute la surface d’une façon très claire. Des encres invisibles prenant la forme du logo et le nom de la banque sont dans toute la surface du papier, ces encres sont visibles à l’aide d’un détecteur de faux billets à UV.</p>
				<p>Nous avons fourni ce papier à plusieurs banques en Afrique centrale, les banques utilisées pour protéger certaines opérations très sensibles comme les mises en garde bancaires, les bons de caisse et d’autres document</p>
			</div>
		</div>
	</div>
</div>


<!-- /End page content -->



{% endblock %}