{% extends "base.html.twig" %}


{% block body %}


<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>Get 24/7 Support</p> #}
						<h1>Encre fluorescente</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<div class="container mb-3 mt-2">
	
Encre visible : cette encre est visible à la lumière du jour, fluorescente en bleu, vert, jaune ou rouge. Un document imprimé avec cette encre montrera une forte fluorescence sous lampe UV alors que la copie n’en aura pas. <br>

<img src="{{ asset('assets/img/enc2.1.png')}}" alt="Fables Template" class="img-fluid"> <br>







Encre invisible : cette encre ne devient détectable que lorsque le document est exposé à une source de lumière Ultra-Violette ( lumière noire ou lampe de Wood) et ne produit pas, comme c’est le cas pour la phosphorescence, de rémanence (persistance de la fluorescence après extinction de la source UV)
<br>





<img src="{{ asset('assets/img/enc2.2.jpg')}}" alt="Fables Template" class="img-fluid"> <br>





</div>










{% endblock %}