{% extends "base.html.twig" %}


{% block body %}


<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						{# <p>Get 24/7 Support</p> #}
						<h1>Encre Réactive</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<div class="container mb-3 mt-2">
	
L’encre réactive :

Cette encre est idéale pour des concepts de chèque ou de document sécurisé se révèlent au contact de l’eau, du chaud, du froid et même de l’alcool. Il existe d’autres encres telles que :

– l’encre se révélant à l’alcool 40° ou 70° degré

– l’encre se révélant au froid

– l’encre se révélant au chaud

– l’encre se révélant aux u.v.

– l’encre se révélant à la lumière noire

– l’encre se révélant par filtre rouge ou cryptage.

Ces encres sont sensibles aux solvants, elles réagissent avec l’Alcool, l’Ether sulfuriques, l’Essence et crayons effaceurs en se décolorant ou en changeant de couleur.  Ces encres peuvent montrer deux réactions différentes :

Soit l’utilisation du solvant va décolorer l’encre ainsi la couleur originale sera modifiée
Soit on peut cacher un autre pigment dans cette encre (surtout dans les encres foncées) par exemple un bleu foncé pourra réagir en rouge si le document est en contact avec des solvants.
<br>
<img src="{{ asset('assets/img/encre-reactive.png')}}" alt="Fables Template" class="img-fluid"> <br>









</div>










{% endblock %}