


{% block body %}

	

	<p>
		Dear <strong> {{ user.fullname }}</strong>  ,<br><br>

		We hope this email finds you well. We would like to bring to your attention an important matter regarding your account with us.

It appears that there is a pending command associated with your account that has not been completed for more than 30 days. We understand that certain circumstances may have caused delays, but we want to ensure that you receive the best experience possible on our platform.

To resolve this issue and ensure that your request is processed promptly, we kindly request you to review the pending command and provide any necessary information or updates. Our team is ready to assist you every step of the way to ensure a smooth and efficient resolution.

Please log in to your account and navigate to the "Pending Commands" section to find the specific command in question. Once you've accessed it, please review the details and update any relevant information, or let us know if you require any assistance in completing the command.
<br><br>
		Best regards,
		<br><br>
		<br>		Melek Bejaoui
<br>		SECURE PRINT

	</p>


{% endblock %}